@using Core.Infrastructure.TreeItem
@using Entities.Models.Menu

@model IEnumerable<TreeItem<NavigationMenu>>

@functions{
    async Task<string> CategoryRecursive(IEnumerable<TreeItem<NavigationMenu>> menuItems)
    {
        foreach (var menu in menuItems)
        {
            @if (menu.Children.Any())
            {
                if (menu.Item.IsExternal)
                {
                    <li class="menu-item" aria-haspopup="true">
                        <a target="_blank" href="@menu.Item.ExternalUrl" class="menu-link">
                            <span class="menu-text">@menu.Item.Name</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="menu-item menu-item-submenu menu-item-rel" data-menu-toggle="click" aria-haspopup="true">
                        <a href="javascript:;" class="menu-link menu-toggle">
                            <span class="menu-text">@menu.Item.Name</span>
                            <span class="menu-desc"></span>
                            <i class="menu-arrow"></i>
                        </a>
                        <div class="menu-submenu menu-submenu-classic menu-submenu-right">
                            <ul class="menu-subnav">
                                @await CategoryRecursive(menu.Children)
                            </ul>
                        </div>
                    </li>
                }
            }
            else
            {
                if (menu.Item.IsExternal)
                {
                    <li class="menu-item" aria-haspopup="true">
                        <a target="_blank" href="@menu.Item.ExternalUrl" class="menu-link">
                            <span class="menu-text">@menu.Item.Name</span>
                        </a>
                    </li>
                }
                else
                {
                    <li class="menu-item" aria-haspopup="true">
                        <a asp-area="@menu.Item.Area" asp-controller="@menu.Item.ControllerName" asp-action="@menu.Item.ActionName" class="menu-link">
                            <span class="menu-text">@menu.Item.Name</span>
                        </a>
                    </li>
                }
            }
        }
        return "";
    }
}

@await Task.Run(()=> CategoryRecursive(Model));
