@model List<Entities.Dtos.AuthNavigationMenuDto>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<ul>
    @foreach (var menu in Model)
    {
        <li>
            <p>@menu.Name = @menu.Area/@menu.ControllerName/@menu.ActionName</p>
            <p>@menu.ParentMenuName</p>
            <p>@menu.Visible</p>
            <p>@menu.DisplayOrder</p>
        </li>
    }
</ul>