@using Services.Configuration
@model ErrorViewModel
@inject AppSettingsService AppSettingsService
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Hata - @AppSettingsService.AppSettings.AppName</title>
    <link rel="canonical" href="https://www.pofhi.com/" />
    <link rel="shortcut icon" href="@AppSettingsService.AppSettings.Favicon" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            <h1 class="text-danger">Hata!</h1>
            <h2 class="text-danger">@Model.Exception.Message</h2>
            @if (Model.Exception.InnerException != null)
            {
                <h2 class="text-danger">İnner Exception: @Model.Exception.InnerException.Message</h2>
            }
            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>Request ID:</strong> <code>@Model.RequestId</code>
                </p>
            }
        </main>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>