@model NavigationMenuViewModel
@{
    ViewData["Title"] = "Rol Yetkilerini Düzenle";
}

<div class="row">
    <div class="col-sm-12">
        <div class="card card-custom gutter-b example example-compact">
            <div class="card-header">
                <h3 class="card-title">Rol Yetkilerini Düzenle</h3>
            </div>
            <form class="form" asp-action="EditRolePermission" method="post" role="form">
                <div class="card-body">
                    <ul style="list-style-type: none">
                        @for (var i = 0; i < Model.Permissions.Count; i++)
                        {
                            <li>
                                <label class="checkbox mb-0" asp-for="@Model.Permissions[i].Permitted">
                                    <input asp-for="@Model.Permissions[i].Permitted" type="checkbox" />
                                    <span></span>
                                    &nbsp; @Model.Permissions[i].Name
                                </label>
                                @*<input type="checkbox" asp-for="@Model.Permissions[i].Permitted"/>
                                    <label style="margin-left: 10px;" asp-for="@Model.Permissions[i].Permitted">@Model.Permissions[i].Name</label>*@
                                <input type="hidden" asp-for="@Model.Permissions[i].Id" />
                                <input type="hidden" asp-for="@Model.Permissions[i].Name" />
                            </li>
                        }
                    </ul>
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-primary mr-2">Kaydet</button>
                    <a asp-action="Roles" class="btn btn-secondary">Geri</a>
                </div>
            </form>
        </div>
    </div>
</div>